@use "variables" as v;

// ------------------------------------------------
//  ファイル名：_base.scss
//  機能：ベーススタイルを記述する
// ------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: v.$color-black;
  font-family: Roboto, "Noto Sans JP", sans-serif;
  font-weight: v.$fontweight-regular;
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}
